* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "norsebold";
  src: url("/font/norse-bold-webfont.woff2") format("woff2"),
    url("/font/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.form {
  flex: 2;
}
.side-image {
  flex: 1;
  position: relative;
}
.logo {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 125px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo h2 {
    font-family: "norsebold", monospace;
    color: white;
    font-size: 5rem;
}

.side-image .logo img {
  width: 15%;
  height: auto;
}

.side-image img {
  height: auto;
  width: 100%;
}

.side-image p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
}
